:root {
  --tooltip-arrow-gap: 24px;
}

.quote {
  display: flex;
  flex-direction: column;
  margin: 0 1.5rem;
}

.quote-row {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.quote-row-item {
  line-height: 1.75rem;
  width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

.accumulative {
  position: relative;
  z-index: 1;
}

.accumulative-shadow {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.sell-text {
  color: #ff5b5a;
}

.buy-text {
  color: #00b15d;
}

.sell-quote {
  background-color: rgba(255, 90, 90, 0.12);
}

.buy-quote {
  background-color: rgba(16, 186, 104, 0.12);
}

.flash-green {
  animation: flashGreen 0.3s ease-in-out;
}

.flash-red {
  animation: flashRed 0.3s ease-in-out;
}

.tooltip:hover::before,
.tooltip:hover::after {
  display: inline-block;
}

.tooltip::before {
  position: absolute;
  z-index: 2;
  width: 13rem;
  height: 3.75rem;
  padding: 10px;
  font-size: 12px;
  line-height: 1.75rem;
  border-radius: 5px;
  font-weight: 700;
  white-space: pre-line;
  background-color: #57626e;
  display: none;
  color: #ffffff;
  content: attr(tooltip-data);

  left: calc(100% + 10px);
  transform: translateX(10%);
}

.tooltip::after {
  position: absolute;
  z-index: 1;
  display: none;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  content: "";
  border-right-color: #57626e;
  border-left-width: 0;

  left: calc(100% + var(--tooltip-arrow-gap));
}

@keyframes flashRed {
  0%,
  100% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(255, 91, 90, 0.5);
  }
}

@keyframes flashGreen {
  0%,
  100% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(0, 177, 93, 0.5);
  }
}
