.orderbook {
  height: 100%;
}

.table-header {
  display: flex;
  width: 85%;
  margin: auto;
}

.table-header > div {
  width: 100%;
  height: 1.75rem;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  color: #8698aa;
  font-weight: 400;
  font-size: 18px;
}
