.app {
  margin: 2rem auto;
  width: 22rem;
  height: 100%;
  background-color: #1e2c4c;
}

.app-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2rem;
  border-bottom: white 1px solid;
  padding: 0.5rem 1rem;
}
